@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/va9e4kdnxmzdwfmod5vvl4jo.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/va9b4kdnxmzdwfmod5vnzkverhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/va9b4kdnxmzdwfmod5vnskzerhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/va9b4kdnxmzdwfmod5vnlk3erhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/va9b4kdnxmzdwfmod5vnmk7erhf_.ttf) format('truetype');
}
